.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.home div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.policy {
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 0.5em;
  border-radius: 0.5em;
}

.home > #error {
  padding: 0.5em;
  border: 1px solid black;
  background-color: rgb(228, 189, 197);
  border-radius: 0.5em;
}
