.idea/
.nyc_output/
dist/

# Even though node_modules are tracked in git,
# per default we don't want them to show up in git status
node_modules

*.swp

yarn-error.log

npm-packages-offline-cache/

config.mk

\#*\#
*~
