.idea/
.nyc_output/
dist/
lib/
node_modules/

tsconfig.tsbuildinfo

*.swp

yarn-error.log

npm-packages-offline-cache/

/configure
/config.mk


\#*\#
*~

# old folder
build-scripts/

# Git worktree of pre-built wallet files
prebuilt/
