lib/**/*.js.map
background/**/*.js.map
popup/**/*.js.map
pages/**/*.js.map
pogen/**/*.js.map
test/**/*.js.map
content_scripts/**/*.js.map
testlib/**/*.js.map
testlib/talertest.js
background/*.js
pogen/*.js
test/*.js
lib/wallet/*.js
pages/*.js
content_scripts/*.js
lib/*.js
!lib/module-trampoline.js
popup/*.js
test/tests/*.js
build/
.idea/
taler-wallet-*.tar.gz
taler-wallet-*.directive
taler-wallet-*.directive.asc
taler-wallet-*.sig

# Even though node_modules are tracked in git,
# per default we don't want them to show up in git status
node_modules/*

coverage/
coverage-*.json
