.form-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

label {
  padding-right: 1em;
}

label::after {
  content: ":";
}

input.url {
  width: 25em;
}

.formish {
}

.json-key {
   color: brown;
}
.json-value {
   color: navy;
   }
.json-string {
   color: olive;
}
